/*
-	Clone-3 "Whatsapp"
-	Developed by Mayank
-	CopyRight by Whatsapp
-	CSS : ./css/style.css
*/

/*
    --------------
    | import css |
    --------------
*/
*
{
    user-select: none;
    margin:0;
    padding: 0;
    text-decoration: none;
    font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    color:#343a4D;
    outline: none;
    border: none;
}
:root
{
    --dgreen: #036d52;
    --green:#51a08d;
    --lgreen:#dcf8c6;
    --black:#343a4D;
    --gray:#6c757d;
    --lgray:#ced4da;
    --light:#f8f9fa;
    --white:#f4fbff;
    --face:#f1ead1;
    --fw:rgba(255,255,255,0.5);
}
::-webkit-scrollbar
{
    width:5px;
    background: transparent;
}
::-webkit-scrollbar-thumb
{
    border-radius: 5px;
    background: var(--fw);
}
::-webkit-scrollbar-thumb:hover
{
    background: var(--light);
}
body
{
    background: var(--lgray);
    scroll-behavior: smooth;
    overflow: hidden;
}
#mother_container
{
    postion:relative;
}
.primary_container
{
    height: 100%;
    max-width: 500px;
    margin: 0 auto;
    position: relative;
    overflow-y: auto;
}
.secondary_container
{ 
    width: 100%;
    min-height: 100vh;
}
/*
    HEADER -----
*/
#header
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 8vh;
    background:var(--dgreen);
}
/*
    NAVBAR -----
*/
#navbar
{
    position: sticky;
    top:0;
    z-index:5;
    display: grid;
    grid-template-columns: 10% 90%;
    height: 8vh;
    background:var(--dgreen);
}
#group_icon
{
    padding: 1rem 1rem;
    font-size: 1.5rem;
    color: var(--light);
}
#nav
{
    display: grid;
    grid-gap:0;
    grid-template-columns: 1fr 1fr 1fr;
    height: 8vh;
    padding: 0 1rem;
    /* border: 1px solid red; */
}
#nav > a
{
    display:block;
    width: 100%;
    margin: 0;
    padding: 0.5rem 1rem;
    text-align: center;
    line-height: 5vh;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    color:var(--lgray);
    /* border: 1px solid blue; */
}
.active
{
    color:var(--light) !important;
    border-bottom: 5px solid var(--light);
}
/*
    BRANDNAME ------
*/
#brand_name
{
    padding: 1rem;
    font-size: 1.5rem;
    color:var(--light);
}
#tools a
{
    display:inline-block;
}
#tools .bi
{   
    padding: 10px;
    font-size: 1.5rem;
    color:var(--light);
}
#tools .bi:hover
{
    border-radius: 50%;
    background: var(--fw);
}
#tools .bi-search
{
    font-size: 1.4rem;
}
#dot_menu
{
    background:transparent;
}
/*
    FLOAT MENU ----------
*/
#flt_menu
{
    position:absolute;
    z-index:10;
    top:1vh;
    right:1vw;
    display:none;
    height:auto;
    background:var(--light);
    border-radius:5px;
    box-shadow:5px 5px 10px var(--lgray);
}
.link
{
    display:block;
    padding:1rem;
    padding-right:3rem;
    text-decoration:none;
    color:var(--gray);
}
.link:hover
{
    background:var(--fw);
}
/*
    PERSON -------
*/
#person
{
    display: flex;
    grid-gap:5px;
    align-items: center;
}
#person_dp > .bi-person-circle
{
    padding: 1rem;
    font-size: 2rem;
    color: var(--light);
}
#person_dp > .image_dp
{
    width:50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}
#person_name
{
    font-weight: normal;
    font-size: 1.3rem;
    color: var(--light);
}
/*
    FEATURE -------
*/
#features
{
    display: flex;
    grid-gap:1rem;
    align-items: center;
    padding: 0 1rem;
    height: 100%;
}
.feature .bi
{   
    padding: 10px;
    font-size: 1.5rem;
    color:var(--light);
}
.feature .bi:hover
{
    border-radius: 50%;
    background: var(--fw);
}
/*
    CHATS ---------
*/
#chats
{
    display: block;
    height: 84vh;
    width: 100%;
    background: var(--light);
}
.chatBox
{
    display: grid;
    grid-template-columns:2fr 9fr;
    width: 100%;
    margin: 5px 0 0 0;
    background: var(--fw);
}
.chatBox:hover
{
    background: var(--white);
}
.chat_dp
{
    text-align: center;
}
.image_dp
{
    height:75px;
    width:65px;
    margin: auto;
    padding: 5px;
    object-fit: cover;
    border-radius: 50%;
}
.bi-person-circle
{
    padding:10px;
    font-size: 3.5rem;
    color:var(--gray);
}
.chat_detail
{
    border-bottom: 1px solid var(--lgray);
}
.chat_detail > div
{
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
}
.short_message
{
    /* padding: 10px 0; */
    color:var(--gary);
}
.notice
{
    border-radius: 50px;
    color:var(--light);
    padding: 5px 10px;
    background: var(--green);
}
.person_name
{
    margin: 10px 0;
    font-weight: bold;
}
/*
    MESSAGES ------
*/
#messages
{
    width: 100%;
    height: 84vh;
    background:var(--face);
    overflow-y: scroll;
}
.date
{
    display: block;
    width: 100px;
    margin:1rem auto;
    padding: 5px;
    color:var(--gray);
    background: var(--light);
    border-radius: 5px;
}
.left
{
    width: 70%;
    margin: 1rem 0.5rem;
    padding: 0.5rem 0.5rem 0.5rem 2rem;
    background: var(--light);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 10px 100%, 10px 10px);
    border-radius: 0 10px 10px 10px;
}
time
{
    display: block;
    padding-top: 5px;
    text-align: right;
    color:var(--gray);
}
.right
{
    width: 70%;
    margin: 1rem 0;
    margin-left: auto;
    padding: 0.5rem 2rem 0.5rem 0.5rem;
    background: var(--lgreen);
    clip-path: polygon(0 0, 100% 0, calc(100% - 10px) 10px, calc(100% - 10px) 100%, 0 100%);
    border-radius: 10px 0 10px 10px;
}
:is(.left, .right) > a
{
    display: block;
    color:green;
}
/*
    MESSAGE BUTTON -------
*/
#msg_btn
{
    position: absolute;
    bottom:5vh;
    right:5vw;
    padding: 15px;
    padding-top: 19px;
    background: var(--green);
    border-radius: 50%;
}
#msg_btn .bi
{
    font-size: 1.5rem;
    color:var(--light);
}
/*
    TYPEPAD --------
*/
#type_pad
{
    display:flex;
    align-items: center;
    justify-content: space-between;
    height: 8vh;
    width: 100%;
    padding: 5px;
    background: var(--face);
}
#input_form
{
    display: flex;
    align-items: center;
    height: 95%;
    width: 90%;
    margin: 0.5rem;
    padding: 0 10px;
    background: var(--light);
    border-radius: 20px;
}
#text_fld
{
    height: 100%;
    width: 100%;
    padding: 0 10px;
    font-size: 18px;
    /* background: pink; */
}
#input_form .bi
{
    padding: 0 2px;
    width: 35px;
    font-size: 1.7rem;
    border-radius: 50%;
}
.bi-ruppes
{
    margin: 0 0.5rem;
    background: var(--lgray);
    border-radius:50% ;
}
#mic
{
    margin:1px;
}
#mic .bi
{
    display: inline-block;
    padding: 5px 10px;
    font-size: 2rem;
    color:var(--light);
    background: var(--green);
    border-radius: 50%;
}

/*
    1200PX CSS ----------------------------
*/
@media (max-width: 1200px)
{
}
/*
    992PX CSS -----------------------------
*/
@media (max-width: 992px)
{
    
}
/*
    768PX CSS -----------------------------
*/
@media (max-width: 768px)
{

}
/*
    576PX CSS -----------------------------
*/
@media (max-width: 576px)
{
    /* feature */
    #features
    {
        grid-gap:0.5rem;
    }
    /* typepad */
    #type_pad
    {
        padding: 10px 5px;
    }
}
/*
    374PX CSS -----------------------------
*/
@media (max-width: 374px)
{
}
/*
    THE END ===============================
*/